title {
	color: ##6E210F;
}

/* Aligne les éléments enfants (les liens et images) sur une même ligne */
.container-images {
    display: flex;
    flex-direction: row; /* Aligne horizontalement */
    gap: 10px;          /* Crée un espace de 20px entre chaque image */
    margin-bottom: 10px; /* Ajoute un espace avant le titre "Metal" */
}

/* Optionnel : Ajuste la taille des images si elles sont trop grandes */
.container-images img {
    width: 50px;       /* Ajustez la taille selon vos besoins */
    height: auto;
}

h1 {
	margin-left: 7px;
	color: #8F3600;
	font-size: 30px;
	font-family: "Arial";
	font-style: "bold";
}

h2 {
	margin-left: 5px;
	color: #A33E12;
	font-size: 20;
	font-family: "Arial";
	font-style: "bold";
}

h3 {
	margin-left: 5px;
	color: #A13608;
	font-size: 14;
	font-family: "Arial";
	font-style: "bold";
}

li, a, ol, ul, p {
	margin-left: 5px;
	color: black;
	font-style: 12;
	font-family: "Arial";
}

/* Alignement côte à côte des blocs Titre + Image */
.grille-titres-images {
    display: flex;
    flex-wrap: wrap; /* Permet de passer à la ligne sur petit écran (mobile) */
    gap: 30px;      /* Espace entre les deux colonnes */
    margin-bottom: 20px;
}

.bloc-titre-image {
    flex: 1;         /* Les deux colonnes prennent une largeur égale */
    min-width: 250px; /* Sur mobile, passe l'un en dessous de l'autre si < 250px */
}

footer {
	text-align: center;
	font-family: "Arial";
	color: black;
	font-size: 12;
	font-style: "bold";
	padding: 20px;
  	background: mediumaquamarine;
  	margin-top: 20px;
}

body {
	background-color: #E69557;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #A64C00;
  color:midnightblue;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

img {
	display: inline-flex;
	border: 5px #9E560D solid;
	border-radius: 15px;
}
.truc {
	grid-template-columns: 250px 250px 250px ;
   	grid-template-rows: 500px;
}

.t {
	display: inline-grid;
	margin: 25px;
}
.topnav
{
	background-color: #f1bb6d;
}
