title {
	color: #811A1E ;
}

h1 {
	margin-left: 20px;
	color: #811A1E;
	font-size: 30;
	font-family: "Arial";
	font-style: "bold";
}

h2, h3 {
	margin-left: 10px;
	color: #8B0000;
	font-size: 20;
	font-family: "Arial";
	font-style: "bold";
}

li, a, ol, ul, p {
	margin-left: 10px;
	color: black;
	font-style: 12;
	font-family: "Arial";
}

footer {
	text-align: center;
	font-family: "Arial";
	color: black;
	font-size: 16;
	font-style: "bold";
}

body {
	background-color: #CF5959;
}

./* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #EB0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 0.5px solid black;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #D60000;
  color:midnightblue;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

img {
	display: inline-flex;
	border: 5px #570B0B solid;
	border-radius: 15px;
}
.image{
	max-width : 60%;
	max-height: 30%;
}
.mednav
{
	background-color: #ff8181;
}
.bottomnav
{
	background-color: #d45454;
}
.footer
{
	background-color: #b60000;
}